
*.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
test.html

readme.html
wp-admin/
wp-includes/
wp-content/languages/
wp-content/plugins/our-5th-featured-professor-plugin/node_modules
wp-content/plugins/our-5th-featured-professor-plugin/build
wp-content/plugins/our-4th-are-you-paying-attention/node_modules
wp-content/plugins/loco-translate
wp-content/plugins/advanced-custom-fields
wp-content/plugins/all-in-one-wp-migration
wp-content/plugins/manual-image-crop
wp-content/plugins/members
wp-content/plugins/regenerate-thumbnails
wp-content/plugins/wp-migrate-db
wp-content/plugins/index.php
wp-content/uploads
wp-content/index.php
wp-content/themes/fictional-university-theme/images
wp-content/themes/fictional-university-theme/node_modules
wp-content/themes/fictional-university-theme/build
wp-content/ai1wm-backups
wp-content/mu-plugins/wp-migrate-db-pro-compatibility.php
