
*.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

readme.html
wp-admin/
wp-includes/
wp-content/plugins
wp-content/uploads
wp-content/index.php
wp-content/themes/fictional-university-theme/images
wp-content/themes/fictional-university-theme/node_modules
